img {
    width: 300px;
    height: 150px;
    padding: auto;
    background-color: #76a8e6;
}

.wrapper {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
    grid-gap: 16px
}